// main: style.scss

.form-signin {
  padding-top: 100px;
  padding-bottom: 100px;
  margin: auto;
  width: 300px;
  text-align: center;


img.logo {
  margin: auto;
  display: block;
  width:90%;
  height: auto;
  margin-bottom: 50px;
  /*nn*/
}

.form-floating {
  margin-bottom: 15px
}

.checkbox  {
  text-align: left;
  padding-left: 13px;
}

}
