// main: style.scss

.btn-success,
.btn-success:disabled,
.btn-success:hover,
.btn-outline-success:hover,
.btn-danger,
.btn-danger:disabled,
.btn-danger:hover,
.btn-outline-danger:hover,
.btn-warning,
.btn-warning:disabled,
.btn-warning:hover,
.btn-outline-warning:hover,
.btn-info,
.btn-info:disabled,
.btn-info:hover,
.btn-outline-info:hover {
    color: #fff;
}

.btn-outline-light {
    border-color: $gaisi-peleks;
    color: $tumsi-peleks;
}
